@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


body {
    @apply bg-white dark:bg-neutral-900!
}

html.dark {
    @apply bg-neutral-900 text-neutral-100
}

.effect {
  border-radius: 2px;
}

.effect:hover {
  border-radius: 30px;
  transition: all 0.7s;
}
